extends layout

block content
  div.container
    div.jumbotron
      h1 CanYouPlay
      p A new sports team management application
    div.row
      div.col-sm-4
        h3 Column 1
        p Blah blah blah
        p blah blah
      div.col-sm-4
        h3 Column 2
        p blah bjfdkvfkvm
        p gfjbnldvnbl dn
      div.col-sm-4
        h3 Column 3
        p vfdvbfb
        p fgfbffgfgbff

