//Layout.jade defines the layout of the entire website. It will contain the navbar and
//extension views will populate pageTitle and pageContent blocks
doctype html
html
  head
    title= title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='js/lib/angular.min.js')
    script(src='js/app.js')
    script(src='js//controllers/registerController.js')

    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')


  body(ng-app='myApp', ng-controller='mainController')
    nav.navbar.navbar-default
      div.container
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') CanYouPlay
          ul.nav.navbar-nav
            li.active
          ui.nav.navbar-nav.navbar-right
            li
              a(href='sign-in') Sign In
            li
              a(href='register') Register
    block content

