.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.glyphicon-response {
    font-size: 25px;
}

.glyphicon-thumb {
    font-size: 25px;
    vertical-align:middle;

}

.ask {
	font-size: 25px;
}

.ask-response {
	padding: 0.5cm 0cm 0cm 0cm;
}

.playing {
	background-color: #00cc66;
}

.asked {
	background-color: #ffff99;
}

.declined {
	background-color: #ff5c33;
}


.nounderline{text-decoration: none}
.nounderline:hover{text-decoration: none}