.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.glyphicon-response {
    font-size: 25px;
    cursor: pointer;
}

.can-click {
  cursor: pointer;
}

.glyphicon-thumb {
    font-size: 25px;
    vertical-align:middle;

}

.fix-sizing {
  font-size: 25px;
}

.ask {
	font-size: 25px;
}

.ask-response {
	padding: 0.5cm 0cm 0cm 0cm;
}

#playing {
	background-color: #00cc66;
  
}

#playing:hover {
  background-color: #00cc66;
}

#asked {
	background-color: #ffff99;

}

#asked:hover {
  background-color: #ffff99;
}

#declined {
	background-color: #ff5c33;
}

#declined:hover {
  background-color: #ff5c33;
}

#nohover:hover {
  background-color: #ffffff;
}


.nounderline{text-decoration: none}
.nounderline:hover{text-decoration: none}

.navbar-default {
  background-color: #00cc66;
  border-color: #00c161;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f2f2f2;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2f2f2;
  background-color: #00c161;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f2f2f2;
  background-color: #00c161;
}
.navbar-default .navbar-toggle {
  border-color: #00c161;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00c161;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f2f2f2;
}

.jumbotron{
    background-color:#00c161;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f2f2f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f2f2f2;
    background-color: #00c161;
  }
}