div.container
	div.col-md-12.text-center
		ol.breadcrumb
			li
				a(href='#fixtures') Fixtures
			li
				a(ng href='#fixture/{{availData.fixtureId}}') V {{ availData.opposition }}
			li.active Ask

		h2 Ask Players To Play
		h3
			| {{ availData.side }} V {{ availData.opposition }}, {{ availData.date | date:"dd MMMM yyyy"}}
	div.col-md-4.col-md-offset-2
		h4 Availiable On This Date
		ul.list-group
			a.list-group-item(ng-show='availData.playersAvail.length===0')
				p No players seem to be available on this date
			a.list-group-item.playing(ng-repeat="player in availData.playersAvail", ng-click='askPlayer(player.id, player)')
				h4.list-group-item-heading {{ player.firstName}} {{ player.lastName}}
				p Click to ask {{ player.firstName }} to play
	div.col-md-4
		h4 Not Availiable On This Date
		ul.list-group
			a.list-group-item.declined(ng-repeat="player in availData.playersNotAvail")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName}}
				p Not available







