div.container
	div.col-md-12.text-center
		h2 Ask Player To Play
	div.col-md-4.col-md-offset-2
		h3 Players Who Are Availiable On This Date
		ul(ng-repeat="player in availData.playersAvail")
			li {{ player.firstName}} {{ player.lastName}}
	div.col-md-4
		h3 Players Who Are Not Availiable On This Date
		ul(ng-repeat="player in availData.playersNotAvail")
			li {{ player.firstName}} {{ player.lastName}}







