div.container
	div.row.text-center
		h2 Fixtures
	div.col-md-12
		div.panel.panel-default
			div.table-responsive
				table.table.table-hover
					thead
						tr
							th Team
							th Opposition
							th Location
							th Date
							th Time
					tbody
						tr(ng-repeat="fixture in fixtures | orderBy: 'date'", ng-click='viewFixture(fixture)')
							td {{ fixture['side'] }}
							td {{ fixture['opposition'] }}
							td {{ fixture['location'] }}
							td {{ fixture['date'] | date:"d MMMM yyyy" }}
							td {{ fixture['date'] | date:"HH:mm" }}
							//td
								button.btn.btn-default Organise
								button.btn.btn-default Cancel
		div.row.text-center
			a(ng-href='#fixtures/add')
				span.glyphicon.ask.glyphicon-plus





