div.container
	div.row.text-center
		h2 Fixtures
		a(href='#/fixtures/add') Add
	div.col-md-12
		div.panel.panel-default
			div.panel-heading Upcoming Fixtures For Southampton University Cricket Club
			div.table-responsive
				table.table
					thead
						tr
							th Team
							th Opposition
							th Location
							th Date
							th Time
					tbody
						tr(ng-repeat="fixture in fixtures | orderBy : 'date'")
							td TBC
							td {{ fixture['opposition'] }}
							td {{ fixture['location'] }}
							td {{ fixture['date'] | date:"dd/MM/yyyy" }}
							td {{ fixture['date'] | date:"HH:mm" }}




