div.container
	div.row.text-center
		h2 Fixture Details
	div.col-md-6.col-md-offset-3
		form(name='editFixtureForm', ng-submit='submitForm(editFixtureForm.$valid)', novalidate='')
			.form-group
				label(for='selectSide') Team
				input#selectSide.form-control(ng-model='fixture.side', required, name='side')
			.form-group
				label(for='opposition') Opposition
				input#opposition.form-control(type='text', name='opposition', ng-model='fixture.opposition', class='form-control', required)
			.form-group
				label(for='location') Location
				input#location.form-control(type='text', name='location', ng-model='fixture.location', class='form-control', required)
			.form-group
				label(for='date') Date
				.input-group
					input.form-control(type='text', name='date', uib-datepicker-popup='{{format}}', ng-model='dt', is-open='popup1.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
					span.input-group-btn
						button.btn.btn-default(type='button', ng-click='open1()')
							i.glyphicon.glyphicon-calendar
			.form-group
				label(for='time') Time
				input#time.form-control(type='time', name='time', ng-model='time', class='form-control', required)
			div.row.text-center
				button.btn.btn-default(type='submit', ng-disabled='editFixtureForm.$invalid') Update
	div.col-md-6.col-md-offset-3.text-center
		h2 Team Selection
	div.col-md-4.col-md-offset-2
		h3 Playing
		ul.list-group
			a.list-group-item
				h4.list-group-item-heading Dominic Smith
				p Dominic has confirmed he is playing
			a.list-group-item
				h4.list-group-item-heading Mungo Parker
				p Mungo has confirmed he is playing
			a.list-group-item
				h4.list-group-item-heading Freddie Wilson
				p Freddie has confirmed he is playing
			a.list-group-item
				h4.list-group-item-heading Adam Noakes 
				p Adam has confirmed he is playing
			a.list-group-item
				h4.list-group-item-heading Rory Macdonald
				p Rory has confirmed he is playing
	div.col-md-4
		h3 Asked
		ul.list-group
			a.list-group-item
				h4.list-group-item-heading Nick Thuringer
				p Awaiting response
			a.list-group-item
				h4.list-group-item-heading Mungo Parker
				p Awaiting response
			a.list-group-item
				h4.list-group-item-heading Freddie Wilson
				p Awaiting response
			a.list-group-item
				h4.list-group-item-heading Adam Noakes 
				p Darius cannot play
			a.list-group-item
				h4.list-group-item-heading Rory Macdonald
				p Rory cannot play

