div.container
	div.page-header
		h1 Fixture Overview
	div.col-md-5
		ul.list-group
			a.list-group-item
				p {{ fixture.side }} v {{ fixture.opposition }}
				p Location: {{ fixture.location }}
				p Date: {{ fixture.date | date:"d MMMM yyyy" }} - Still going ahead
				p Time: {{ fixture.date | date:"HH:mm" }}

	div.col-md-5.col-md-offset-2
		ul.list-group
			a.list-group-item
				p 3 payers are currently scheduled to play
				p 5 players have yet to respond
				p 2 players have declined
				p Organised by Dominic Smith Edit






	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask')
			h2 Team Selection

	div.col-md-4
		h3 Playing
		ul.list-group
			a.list-group-item(ng-show='fixture.playing.length===0')
				p No players have confirmed yet
			a.list-group-item.playing(ng-repeat="player in fixture.playing", ng-href='#fixture/{{ fixture.id }}/ask')
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
				p Agreed to play

	div.col-md-4
		h3 Asked
		ul.list-group
			a.list-group-item(ng-show='fixture.invited.length===0', ng-href='#fixture/{{ fixture.id }}/ask')
				p No players have been asked yet. Click to ask
			a.list-group-item.asked(ng-repeat="player in fixture.invited")
				div.row
					div.col-xs-10
						h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
						p Awaiting reply. Asked {{ player.askdate | date:"d MMMM yyyy"  }}
					div.col-xs-2(ng-if="currentUser.isOwner")
						div.row.text-center
							span.glyphicon.glyphicon-minus.glyphicon-response(ng-click='withdrawAsk(player.askId, item)')
					
		
	div.col-md-4
		h3 Declined
		ul.list-group
			a.list-group-item(ng-show='fixture.declined.length===0')
				p No players have declined
			a.list-group-item.declined(ng-repeat="player in fixture.declined")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName}}
				p {{ player.firstName }} has declined


	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask')
			span.glyphicon.ask.glyphicon-plus