div.container
	div.page-header
		h1 {{ fixture.side }} v {{ fixture.opposition }} 
			a(ng-href='#fixture')
				small All Fixtures
	div.col-md-5
		ul.list-group
			li.list-group-item {{ fixture.side }} v {{ fixture.opposition }}
			li.list-group-item Location: {{ fixture.location }}
			li.list-group-item(ng-if='fixture.active') Date: {{ fixture.date | date:"d MMMM yyyy" }} - Still going ahead
			li.list-group-item(ng-if='!fixture.active') Date: {{ fixture.date | date:"d MMMM yyyy" }} - Fixture has been cancelled
			li.list-group-item Time: {{ fixture.date | date:"HH:mm" }}

	div.col-md-4
		ul.list-group
			li.list-group-item {{ fixture.playing.length }} players have agreed to play
			li.list-group-item {{ fixture.invited.length }} players are yet to respond
			li.list-group-item {{ fixture.declined.length }} players have declined to play
			li.list-group-item Organised by {{ fixture.organiser }}

	div.col-md-3(ng-if='fixture.userInvited')
		ul.list-group
			li.list-group-item
				h4.text-center(ng-if='!fixture.userResponded') CanYouPlay?
				h4.text-center(ng-if='fixture.userResponded && fixture.userResponse') You're playing
				h4.text-center(ng-if='fixture.userResponded && !fixture.userResponse') You can't play

				div.row(ng-if = '!fixture.userResponded')
					div.col-xs-6.text-center
						span.span.glyphicon.glyphicon-ok.fix-sizing(ng-click='replyToAsk(fixture.askId, true)')
					div.col-xs-6.text-center
						span.glyphicon.glyphicon-remove.fix-sizing(ng-click='replyToAsk(fixture.askId, false)')
				div.row(ng-if='fixture.userResponded && fixture.userResponse')
					div.col-xs-12.text-center
						span.span.glyphicon.glyphicon-ok.fix-sizing
						p.can-click(ng-if='fixture.canCancel', ng-click='replyToAsk(fixture.askId, false)') I can longer no longer play						
				div.row(ng-if='fixture.userResponded && !fixture.userResponse')
					div.col-xs-12.text-center
						span.span.glyphicon.glyphicon-remove.fix-sizing

	div.col-md-3(ng-if='currentUser.isOwner')
		ul.list-group
			a.list-group-item(ng-href='#fixture/{{ fixture.id }}/ask', ng-if='fixture.active') Ask Players To Play
			a.list-group-item(ng-href='#fixture/{{ fixture.id }}/edit', ng-if='fixture.active') Edit Fixture
			a.list-group-item(ng-href='#fixture/{{ fixture.id }}/cancel', ng-if='fixture.active') Cancel Fixture
			a.list-group-item(ng-hide='fixture.active', ng-click='unCancel()') Uncancel Fixture

	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask', ng-if='fixture.active && currentUser.isOwner')
			h2 Team Selection

	div.col-md-4
		h3 Playing
		ul.list-group
			li.list-group-item(ng-show='fixture.playing.length===0')
				p No players have confirmed yet
			a#playing.list-group-item.playing(ng-repeat="player in fixture.playing")
				div.row
					div.col-xs-10
						h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
						p Agreed to play
					div.col-xs-2(ng-if="currentUser.isOwner")
						div.row-text-center
							span.glyphicon.glyphicon-minus.glyphicon-response(ng-click='withdrawAsk(player.askId, item, "playing")')

						

	div.col-md-4
		h3 Awaiting Response
		ul.list-group
			a.list-group-item(ng-show='fixture.invited.length===0', ng-href='#fixture/{{ fixture.id }}/ask', ng-if='currentUser.isOwner')
				p No players have been asked yet. Click to ask
			li.list-group-item(ng-show='fixture.invited.length===0', ng-if='!currentUser.isOwner')
				p No players have been asked yet.
			a#asked.list-group-item(ng-repeat="player in fixture.invited")
				div.row
					div.col-xs-10
						h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
						p Awaiting reply. Asked {{ player.askdate | date:"d MMMM yyyy"  }}
					div.col-xs-2(ng-if="currentUser.isOwner")
						div.row.text-center
							span.glyphicon.glyphicon-minus.glyphicon-response(ng-click='withdrawAsk(player.askId, item, "invited")')
			a.list-group-item.text-center(ng-href='#fixture/{{ fixture.id }}/ask', ng-if='fixture.active && currentUser.isOwner')
				span.glyphicon.ask.glyphicon-plus

					
		
	div.col-md-4
		h3 Not Playing
		ul.list-group
			li.list-group-item(ng-show='fixture.declined.length===0')
				p No players have declined
			a#declined.list-group-item.declined(ng-repeat="player in fixture.declined")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName}}
				p {{ player.firstName }} has declined