div.container
	div.row.text-center
		h2 Fixture Overview
	div.col-md-6.col-md-offset-3
		form(name='editFixtureForm', ng-submit='submitForm(editFixtureForm.$valid)', novalidate='')
			.form-group
				label(for='selectSide') Team
				input#selectSide.form-control(ng-model='fixture.side', required, name='side')
			.form-group
				label(for='opposition') Opposition
				input#opposition.form-control(type='text', name='opposition', ng-model='fixture.opposition', class='form-control', required)
			.form-group
				label(for='location') Location
				input#location.form-control(type='text', name='location', ng-model='fixture.location', class='form-control', required)
			.form-group
				label(for='date') Date
				.input-group
					input.form-control(type='text', name='date', uib-datepicker-popup='{{format}}', ng-model='dt', is-open='popup1.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
					span.input-group-btn
						button.btn.btn-default(type='button', ng-click='open1()')
							i.glyphicon.glyphicon-calendar
			.form-group
				label(for='time') Time
				input#time.form-control(type='time', name='time', ng-model='time', class='form-control', required)
			div.row.text-center
				button.btn.btn-default(type='submit', ng-disabled='editFixtureForm.$invalid') Update
	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask')
			h2 Team Selection
	div.col-md-4
		h3 Playing
		ul.list-group(ng-repeat="player in fixture.playing")
			a.list-group-item.playing(ng-href='#fixture/{{ fixture.id }}/ask')
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
				p Agreed to play
	div.col-md-4
		h3 Asked
		ul.list-group
			a.list-group-item.asked(ng-repeat="player in fixture.invited")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
				p Awaiting reply. Asked {{ player.askdate | date:"d MMMM yyyy"  }}
	div.col-md-4
		h3 Declined
		ul.list-group
			a.list-group-item.declined(ng-repeat="player in fixture.declined")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName}}
				p {{ player.firstName }} has declined
	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask')
			span.glyphicon.ask.glyphicon-plus