div.container
	div.page-header
		h1 Fixture Overview
			a(ng-href='#fixture')
				small  All Fixtures
	div.col-md-5
		ul.list-group
			li.list-group-item {{ fixture.side }} v {{ fixture.opposition }}
			li.list-group-item Location: {{ fixture.location }}
			li.list-group-item(ng-if='fixture.active') Date: {{ fixture.date | date:"d MMMM yyyy" }} - Still going ahead
			li.list-group-item(ng-if='!fixture.active') Date: {{ fixture.date | date:"d MMMM yyyy" }} - Fixture has been cancelled
			li.list-group-item Time: {{ fixture.date | date:"HH:mm" }}

	div.col-md-4
		ul.list-group
			li.list-group-item {{ fixture.playing.length }} payers are currently scheduled to play
			li.list-group-item {{ fixture.invited.length }} players have yet to respond
			li.list-group-item {{ fixture.declined.length }} players have declined
			li.list-group-item Organised by {{ fixture.organiser }}

	div.col-md-3
		ul.list-group
			a.list-group-item(ng-href='#fixture/{{ fixture.id }}/ask') Ask Players To Play
			a.list-group-item(ng-href='#fixture/{{ fixture.id }}/edit') Edit Fixture
			li.list-group-item Cancel Fixture







	div.col-md-6.col-md-offset-3.text-center
		a(ng-href='#fixture/{{ fixture.id }}/ask', ng-if='fixture.active')
			h2 Team Selection

	div.col-md-4
		h3 Playing
		ul.list-group
			a.list-group-item(ng-show='fixture.playing.length===0')
				p No players have confirmed yet
			a.list-group-item.playing(ng-repeat="player in fixture.playing", ng-href='#fixture/{{ fixture.id }}/ask')
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
				p Agreed to play

	div.col-md-4
		h3 Asked
		ul.list-group
			a.list-group-item(ng-show='fixture.invited.length===0', ng-href='#fixture/{{ fixture.id }}/ask')
				p No players have been asked yet. Click to ask
			a.list-group-item.asked(ng-repeat="player in fixture.invited")
				div.row
					div.col-xs-10
						h4.list-group-item-heading {{ player.firstName }} {{ player.lastName }}
						p Awaiting reply. Asked {{ player.askdate | date:"d MMMM yyyy"  }}
					div.col-xs-2(ng-if="currentUser.isOwner")
						div.row.text-center
							span.glyphicon.glyphicon-minus.glyphicon-response(ng-click='withdrawAsk(player.askId, item)')
			a.list-group-item.text-center(ng-href='#fixture/{{ fixture.id }}/ask', ng-if='fixture.active')
				span.glyphicon.ask.glyphicon-plus

					
		
	div.col-md-4
		h3 Declined
		ul.list-group
			a.list-group-item(ng-show='fixture.declined.length===0')
				p No players have declined
			a.list-group-item.declined(ng-repeat="player in fixture.declined")
				h4.list-group-item-heading {{ player.firstName }} {{ player.lastName}}
				p {{ player.firstName }} has declined