div.container-fluid
	div.row.text-center
		h2 Fixtures
		a(href='#/fixtures/add') Add
	div.col-md-12
		div.panel.panel-default
			div.panel-heading Upcoming Fixtures For Southampton University Cricket Club
			table.table
				thead
					tr
						th Team
						th Opposition
						th Location
						th Date
						th Time
				tbody
					tr
						td 1st XI
						td Solent University 2nd XI
						td Wide Lane
						td 16/06/2016
						td 11:00
					tr
						td 2nd XI
						td Bath University 1st XI
						td Bath Sports Ground
						td 16/06/2016
						td 13:00




