div.container
	div.col-md-4.col-md-offset-4
		h2 Invite

		form(name='inviteForm', ng-submit='submitForm(inviteForm.$valid)', novalidate='')
			.form-group
				label(for='firstName') Email Address
				input#firstName.form-control(ng-model='email', required, name='email', type='email')
			div.row.text-center
					button.btn.btn-default(type='button', value='Back', onclick="history.back(-1)") Back
					button.btn.btn-default(type='submit', ng-disabled='inviteForm.$invalid') Invite






