div.container
	div.col-md-4
		h2 Change Mobile

		form(name='changeMobileForm', ng-submit='submitForm(changeMobileForm.$valid)', novalidate='')
			.form-group
				label(for='mobile') Mobile
				input#mobile.form-control(ng-model='mobile', required, name='mobile')
			div.row.text-center
					button.btn.btn-default(type='button', value='Back', onclick="history.back(-1)") Back
					button.btn.btn-default(type='submit', ng-disabled='changeMobileForm.$invalid') Change






