div.container
	div.col-md-4
		h2 User Details
		ul.list-group
			a.list-group-item(href='#settings/changename')
				h4.list-group-item-heading Name
				p {{ firstName }} {{ lastName }}
			a.list-group-item(href='#availability')
				h4.list-group-item-heading Availability
				p Manage your availability
			a.list-group-item(href='#settings/changeemail')
				h4.list-group-item-heading Email
				p {{email}}
			a.li.list-group-item(href='#settings/changemobile')
				h4.list-group-item-heading Mobile
				p {{ mobile }}
			a.li.list-group-item(href='#settings/change-password')
				h4.list-group-item-heading Security
				p Change Password
			li.list-group-item.disabled
				h4.list-group-item-heading Member of
				p {{ teamName }}
			li.list-group-item.disabled
				h4.list-group-item-heading Role
				p(ng-if='owner') Owner
				p(ng-if='!owner') Player
			li.list-group-item.disabled
				h4.list-group-item-heading Joined
				p {{ joinDate | date:"dd/MM/yyyy" }}

	div.col-md-4.col-md-offset-2(ng-show="owner")
		h2 Team Details
		a.list-group-item(href='#settings/change-team-name')
			h4.list-group-item-heading Team Name
			p {{ teamName }}
		a.li.list-group-item(href='#invite')
			h4.list-group-item-heading Invite
			p Invite players to join your team
		li.list-group-item.disabled
			h4.list-group-item-heading Web Name
			p {{ webName }}
		li.list-group-item.disabled
			h4.list-group-item-heading Sport
			p {{ sport }}
		li.list-group-item.disabled
			h4.list-group-item-heading Join Date
			p {{ teamJoinDate | date:"dd/MM/yyyy" }}





