div.container
	div.col-md-4.col-md-offset-4
		h2 Change Team Name

		form(name='changeTeamNameForm', ng-submit='submitForm(changeTeamNameForm.$valid)', novalidate='')
			.form-group
				label(for='teamName') Team Name
				input#teamName.form-control(ng-model='teamName', required, name='teamName')
			div.row.text-center
					button.btn.btn-default(type='button', value='Back', onclick="history.back(-1)") Back
					button.btn.btn-default(type='submit', ng-disabled='changeTeamNameForm.$invalid') Change






